# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Streamlit
.streamlit/

# Vector Stores
data/
chroma_db/
faiss_index/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
